body{
    padding: 0;
    margin: 0;
   background-color: rgb(48, 82, 71);
   font-family: 'Kanit', sans-serif;
}
main{
    display: flex;
    justify-content: center;
 

}
#cont{
 display: flex;
    
    width: 80%;
    justify-content: space-between;

}
#cont > div{
width: 30%;
background-color: rgb(66, 167, 19);
overflow: hidden;
}

#cont div img{
    width: 100%;
    transition: 2s;
  
    
 
}

#cont div h3{
    text-align: center;
    font-size: 30px;
    color:red;
    letter-spacing: 1px;
}
#cont div h4{
    padding-left: 15px;
    color: red;
    font-size: 20px;
}
#cont > div > button{
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: pink;
    border: none;
    color: red;
    font-size: 18px;
}
#cont div img:hover{
    transform: scale(1.1);
    

}
#cont div .pr{
    display: flex;
    justify-content: space-between;
    color: white;
    /* width: 100%; */
}